html{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-bar{
    position: relative;
    width: 160px;
    height: 160px;
    
   
}

.outer{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.5),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7);

}
.inner{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
                -0.5px -0.5px 0px rgba(255, 255, 255, 0.7),
                0.5px 0.5px 0px rgba(255, 255, 255, 0.15),
                0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}
.number{
    font-weight: bold;
    font-size: 30px;
    font-family: sans-serif;
}

circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 2s linear forwards;
    position: absolute;
    top: 0%;
    left: 0%;
}
@keyframes anim{
    100%{
        stroke-dashoffset: 165 ;
    }
}