html{
    height: 100%;
    background-color: blueviolet;
    
    width: 100%;
}


.input-value{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    margin-top: 20%;
}
input{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    width: 30%;
}
img{
    position: absolute;
    margin-right: -25%;
    width: 30px;
    height: 30px;
}
.mode{
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 5% 15% 0% 0%;
}
.light{
    font-size: 20px;
    padding: 5px 25px 5px 0px;
    border-radius: 50px;
    position: relative;
    width: 150px;
    color: black;
}
.fa-moon{
    position: absolute;
    margin-right: 20px;
    font-size: 20px;
    z-index: 999;
    color: black;
}
.fa-sun{
    position: absolute;
    margin-right: 120px;
    font-size: 20px;
    color: yellow;
    z-index: 1111;

}
.dark{
    font-size: 20px;
    padding: 5px 0px 5px 35px;
    border-radius: 50px;
    position: relative;
    width: 150px;
    color: white;
    background-color: black;
}
.light-body{
    background-color: white;
    color: black;
    
}
.dark-body{
    background-color: black;
    color: white;
}
